.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    margin-left: 180px;
    margin-top: 50px;
    width: 4%;
    height: 10%;
    z-index: 9999;
    background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
                50% 50% no-repeat rgb(249,249,249);
  }

  .pageLink{
        color:blue;
        font-weight: bold;
        padding: 8px;
        margin: 5px;
        cursor: pointer;
  }